.container {
  width: 70svw;
  margin-left: 40px;
  margin-block: 30px;
  margin-bottom: 60px;
}

.mainHeading {
  font-size: 60px;
  font-weight: 950;
}

.todaySection {
  border: 1.5px solid #e4e1e1;
  border-radius: 18px;
  margin-top: 25px;
  padding: 30px;
}

.todayHeading {
  /* padding-top: 25px; */
  font-weight: 750;
  font-size: 35px;
  padding-left: 25px;
  /* background-color: red; */
}

.addNewTask {
  margin-top: 20px;
  margin-left: 25px;
  border: 1px solid #cec6c6;
  /* padding-inline: 25px; */
  padding-block: 10px;
  border-radius: 8px;
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(252, 239, 93); */
  background-color: rgb(189, 194, 249);
}

.addNewTask img {
  width: 30px;
  height: auto;
}

.addNewTask p {
  /* font-size: 17px; */
  font-weight: 600;
}
.upcomingList {
  list-style: none;
  margin-top: 30px;
}

.upcomingListItems {
  font-size: 20px;
  font-weight: 200;
}
