.colorbox {
  height: 22px;
  width: 22px;
  border-radius: 3px;
  margin-block: auto;
}

.item {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  margin-left: 15px;
  margin-bottom: 9px;
}

.item3 {
  margin-bottom: 15px;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin-block: 17px 7px;
}

.item {
  font-size: 20px;
  font-weight: 600;
}

.item:last-child {
  margin-bottom: 0px;
}

.addNewTask {
  margin-top: 20px;
  margin-left: 7px;
  /* border: 1px solid #cec6c6; */
  /* padding-inline: 25px; */
  padding-block: 1px 20px;
  border-radius: 8px;
  /* width: 15%; */
  display: flex;
  /* justify-content: flex-start; */
  gap: 20px;
  /* background-color: rgb(189, 194, 249); */
}

.addNewTask img {
  width: 30px;
  height: auto;
}

.addNewTask input {
  font-size: 20px;
  border: none;
  background-color: transparent;
  /* font-weight: 600; */
}
