.container {
  background-color: rgb(240, 240, 240);
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 1rem;
  z-index: 100;
  width: 27vw;
  height: 95vh;
  transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1);
  z-index: 2;
}

.containerItems {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 0px;
  padding-left: 40px;
}

.heading {
  color: #444444ff;
  font-size: 35px;
  font-weight: 700;
}

.Task {
  outline: none;
  border: 2px solid #dad8d8;
  padding: 13px 15px;
  color: rgb(97, 92, 92);
  /* color: pink; */
  box-sizing: border-box;
  width: 90%;
  border-radius: 5px;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.taskDescription {
  width: 90%;
  /* height: 150px; */
  padding-block: 10px 140px;
  padding-inline: 13px;
  border: 2px solid #dad8d8;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  outline: none;
  text-align: top;
  vertical-align: text-top;
  font-size: 18px;
  color: rgb(95, 92, 92);
  margin-bottom: 40px;
}

.list {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.list p {
  font-size: 22px;
  font-weight: 580;
}

.list select {
  outline: none;
  border: 2px solid #dad8d8;
  border-radius: 5px;
  background: transparent;
  padding: 10px 17px;
  width: 155px;
  font-size: 16px;
  color: rgb(95, 92, 92);
}

.dueDate {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  margin-bottom: 20px;
  gap: 50px;
}

.dueDate p {
  font-size: 20px;
}

.dueDate input {
  outline: none;
  border: 2px solid #dad8d8;
  border-radius: 5px;
  background: transparent;
  padding: 10px 17px;
  /* text-align: center; */
  font-size: 16px;
  width: 125px;
  color: rgb(95, 92, 92);
}

.tags {
  display: flex;
  justify-content: flex-start;
  gap: 90px;
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 580;
}

.item {
  font-size: 16px;
  background-color: rgb(209, 234, 237);
  padding: 1px 20px;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 240px;
  /* align-content: flex-end; */
}

.footer p {
  padding: 15px 30px;
  border-radius: 5px;
}

.saveChanges {
  background-color: rgb(255, 212, 59);
}

.deleteButton {
  background-color: rgb(232, 232, 232);
}
